- form_tag do
  .field
    = label_tag :type
    = text_field_tag :type
  .field
    = label_tag :object
    = text_field_tag :object
  .field
    = label_tag :connection_type
    = text_field_tag :connection_type
  .field
    = submit_tag 'select'
